# Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv_new/
.env
pip-log.txt
pip-delete-this-directory.txt

# LARGE DATASETS (CRITICAL FOR GITHUB LIMITS)
FraudNexus/data/creditcard.csv
*.csv

# Exception: only allow the tiny sampled CSV!
!FraudNexus/data/creditcard_sample.csv

# Frontend
node_modules/
dist/
dist-ssr/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
